@media screen and (min-width: 480px) {
    body {
      background-color:rgb(247, 204, 204);
    }
  }
#form{
    -ms-text-autospace: none; 
}

*{
     font-family: 'Times New Roman', Times, serif;
    font-size:20px,
}

h3{
    border:20 px;

}

